.imageContainer {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 1rem;
  border-radius: 1%;
}

.image {
  max-width: 100%;
  max-height: 100%;
}
